---
- name: Install Clickhouse
  hosts: clickhouse
  handlers:
    - name: Start clickhouse service
      become: true
      ansible.builtin.service:
        name: clickhouse-server
        state: restarted

  tasks:
    - name: Download ClickHouse packages
      block:
        - name: Get clickhouse distrib
          ansible.builtin.get_url:
            url: "https://packages.clickhouse.com/rpm/stable/{{ item }}-{{ clickhouse_version }}.noarch.rpm"
            dest: "./{{ item }}-{{ clickhouse_version }}.rpm"
            mode: "0644"
          with_items: "{{ clickhouse_packages }}"
      rescue:
        - name: Get clickhouse distrib
          ansible.builtin.get_url:
            url: "https://packages.clickhouse.com/rpm/stable/clickhouse-common-static-{{ clickhouse_version }}.x86_64.rpm"
            dest: "./clickhouse-common-static-{{ clickhouse_version }}.rpm"
            mode: "0644"

    - name: Install clickhouse packages
      become: true
      ansible.builtin.yum:
        name:
          - clickhouse-common-static-{{ clickhouse_version }}.rpm
          - clickhouse-client-{{ clickhouse_version }}.rpm
          - clickhouse-server-{{ clickhouse_version }}.rpm
        disable_gpg_check: true
      notify: Start clickhouse service

    - name: Ensure clickhouse-server is started and enabled
      become: true
      ansible.builtin.service:
        name: clickhouse-server
        state: started
        enabled: true

    - name: Wait for ClickHouse to become ready
      ansible.builtin.wait_for:
        host: "localhost"
        port: 9000
        delay: 2
        timeout: 30
        state: started

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers
    - name: Create database
      ansible.builtin.command: "clickhouse-client -q 'create database logs;'"
      register: create_db
      failed_when: create_db.rc != 0 and create_db.rc != 82
      changed_when: create_db.rc == 0

- name: Install Vector
  hosts: vector
  become: true

  handlers:
    - name: Restart vector
      ansible.builtin.service:
        name: vector
        state: restarted

  tasks:
    - name: Create vector config directory
      ansible.builtin.file:
        path: "{{ vector_config_dir }}"
        state: directory
        mode: "0755"

    - name: Download vector rpm
      ansible.builtin.get_url:
        url: "{{ vector_rpm_url }}"
        dest: "/tmp/vector-{{ vector_version }}.rpm"
        mode: "0644"

    - name: Install vector package
      ansible.builtin.yum:
        name: "/tmp/vector-{{ vector_version }}.rpm"
        state: present
        disable_gpg_check: true

    - name: Deploy vector config
      ansible.builtin.template:
        src: "vector.yaml.j2"
        dest: "{{ vector_config_file }}"
        mode: "0644"
        notify: restart vector

    - name: Ensure vector service is enabled and started
      ansible.builtin.service:
        name: vector
        state: started
        enabled: true
